*{
    font-family: 'Work Sans', sans-serif;
    max-width: 1440px;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 10px 25px;
    color: white;
    border:0;
}


/* nav section style */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-logo{
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* banner section */

.container{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.nav-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.nav-descriptipn{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}
.banner-section img{
    width: 100%;
    margin-top: 40px;
}


/* body section start */

/* team section */
main{
    max-width: 1440px;
   margin: 0 auto;
}

.team-feature-section{
   display: flex;
   align-items: center;
   /* margin-top: 50px; */
   padding: 50px 200px  ;
}
.picture-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    /* margin-left: 200px; */
}
.picture-section img{
    height: 200px;
}
.description-section{
    /* padding-right: 50px; */
    padding-left: 50px;
}
.title-section{
    font-size: 2rem;
}
.quick-style{
    color: #727272;
    font-weight: 500;
}
.title-colour{
    color: #FF900E;
    font-weight: 700;
}
.description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

/* feature section */

.feature-part{
    display: flex;
    margin-top: 100px;
    padding: 0px 180px;
    gap: 60px;

}
.feature-picture-section img{
    width: 508px;
    height: 900px;
}
.feature-title{
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
}
.feature-demo{
    color: #727272;
    font-size: 12px;
    font-weight: 400;
}
.feature-card-section{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    gap: 10px;
    margin-bottom: 10px;
}
.text-title{
    color: #131313;
    font-size: 15px;
    font-weight: 600;
}
.text-descrp{
    color: #727272;
    font-size: 12px;
    font-weight: 400;
}



/* facts section */
.some-facts-section{
    margin-left:200px;
    margin-right:100px ;

}
.facts-title{
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
    
}
.fact-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.card-section{
    border-radius: 8px;
border: 1px solid #FF900E;
padding: 30px;

}
.card{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.states{
    color: #424242;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.card-title{
    color: #727272;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}


/* sponsors section */
.sponsors-section{
    text-align: center;
}
.sopnsors-title{
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
}
.sponsors-des{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.sopnsorts-card{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 200px;
}
.sopnsorts-card img{
    height: 30px;
}










/* header small device responsive section */

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        /* padding: 20px; */
        flex-direction: column;
        padding: 0px;
    }
    .team-feature-section {
        flex-direction: column;
        padding: 30px;
      }
    .picture-section {
        grid-template-columns: 1fr;
    }
      .card {
        flex-direction: column;
      }
      .some-facts-section {
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
      }
      .sopnsorts-card {
        flex-direction: column;
        padding: 5px 10px;
        align-items: center;
        gap: 20px;
      }
      .sopnsorts-card img{
        width: 160px;
        
    }
}

/* header mediam device responsive section */
@media screen and (min-width: 576px) and (max-width: 960px) {
    nav{
        padding: 50px;
        flex-direction: column;
    }
    .team-feature-section {
       flex-direction: column;
        align-items: center;
        padding: 0px;
      }
      .description-section{
        text-align: center;
      }
      .sopnsorts-card {
        flex-direction: column;
        padding: 5px 10px;
        align-items: center;
        gap: 20px;
      }
      
}